<section class="targetgroup-filter-container">
    <select name="targetgroups" id="targetgroup-filter">
        <option value="">Voor iedereen</option>
        <option value="bewoners">Bewoners</option>
        <option value="wijkpartners">Wijkpartners</option>
        <option value="studenten">Studenten</option>
        <option value="medewerkers-hva">Medewerkers HvA</option>
    </select>

</section>