<section>
    <div class="targetgroup-filter-container">
        <h3>Filter doelgroep</h3>
        <select name="targetgroups" id="targetgroup-filter">
            <option value="">Voor iedereen</option>
            <option value="bewoners">Bewoners</option>
            <option value="wijkpartners">Wijkpartners</option>
            <option value="studenten">Studenten</option>
            <option value="medewerkers-hva">Medewerkers HvA</option>
        </select>
    </div>

    <div class="article-search-container">
        <form class="article-search" action="">
            <input type="search" placeholder="Zoek artikelen..." name="search">
        </form>
    </div>
</section>