.featured-article {
    background-image: url("../assets/nieuwwest/dragers_in_damsko.png.webp");
    height: 30em;
    background-size: cover;
    background-repeat: no-repeat;

    * {
        color: white;
    }
}

.overlay {
    border-image:
        linear-gradient(to top, hsl(0 0% 0% / .9),
            hsl(0 0% 0% / .4)) fill 1;
}

/* header {
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    align-items: center;

    @media (min-width: 768px) {
        padding: 20px 50px;
    }
} */

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background: white;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 25px;
}


.sidebar.open {
    display: flex;
}

.sidebar li,
.sidebar a {
    width: 100%;
    list-style: none;
    text-decoration: none;
    color: black;
    margin-bottom: 0.5em;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 0.7em;
    align-items: center;
}

#close-icon {
    text-align: right;
    /* padding-right: 15px; */
    margin-top: -5px;
    display: flex;
    align-self: end;
}

#close-icon,
#hamburger-icon {
    cursor: pointer;
    line-height: 0;
}

.navigation {
    display: none;

    a {
        font-weight: 600;
    }

    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        gap: 2em;
        justify-content: space-between;
        list-style: none;
        align-items: center;

        a {
            text-decoration: none;
            color: black;
            /* font-size: 18px; */
        }
    }
}